node_modules
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
di/dist
di/node_modules
di/.env
di/.env.local
di/.env.development.local
di/.env.test.local
di/.env.production.local
di/.env.development
di/.env.test
di/.env.production